{% extends "layout.html" %}
{% load bootstrap4 %}

{% block title %}
  Invites | {{ block.super }}
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        {% for invite in object_list %}
          <li class="list-group-item">
            {{ invite.company }} by {{invite.from_user}}
            <div class="float-right">
              <a href="{% url 'groups:companies:invite_response' code=invite.uuid response='accept' %}" class="btn btn-success"><i class="fas fa-check"></i></a>
              <a href="{% url 'groups:companies:invite_response' response='reject' code=invite.uuid %}" class="btn btn-danger"><i class="fas fa-times"></i></a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
</div>
{% endblock %}