{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Feeling App{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/feelings.css' %}">
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Feelings</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
        {% if not user.is_authenticated %}
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a href="{% url 'users:login' %}" class="btn btn-outline-success">Login</a> 
          </li>
          
          <li class="nav-item ml-2">
            <a href="{% url 'users:signup' %}" class="btn btn-outline-success">Sigu up</a>
          </li>
        </ul>

        {% else %}
          <a href="{% url 'users:dashboard' %}" class="btn btn-outline-success">Dashboard</a>
          <a href="{% url 'users:logout' %}" class="btn btn-outline-success">Logout</a>
        {% endif %}
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}


<div class="container">
  <footer class="container">
    <p>&copy; Company 2017-2018</p>
  </footer>
</div>

</body>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>
